<div class="container">
  <div id="loginContainer">
    <mat-form-field>
      <input type="email" matInput placeholder="Email" [(ngModel)]="email">
    </mat-form-field>
    
    <mat-form-field>
      <input type="password" matInput placeholder="Password" [(ngModel)]="password">
    </mat-form-field>
  
    <mat-checkbox id="checkbox" [(ngModel)]="keepSignedIn">Keep me signed in</mat-checkbox>
    <button id="loginButton" mat-flat-button color="primary" (click)="login()">
      Login
      <mat-spinner id="spinner" mode="indeterminate" diameter=20 color="accent" *ngIf="showLoading"></mat-spinner>
    </button>
  </div>
</div>
