<div id="addShiftContainer">
  <!-- New Shift Card -->
  <mat-card id="newShiftCard">
    <mat-card-title>Shift Information
      <mat-spinner
        *ngIf="isLoading.creatingShift"
        style="float: right"
        mode="indeterminate"
        diameter=20
        color="accent">
      </mat-spinner>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="shiftForm" (ngSubmit)="submitShift()" id="newShiftForm">
        <div class="row">
          <!-- Location input field -->
          <div class="col">
            <mat-form-field>
              <mat-select required=true placeholder="{{ isLoading.location ? 'Loading Locations' : 'Location' }}" formControlName="location" [(ngModel)]="selectedLocation">
                <mat-option (click)="addNewLocation()"><mat-icon>add</mat-icon>Add new location</mat-option>
                <mat-option *ngFor="let location of locations" [value]="location">
                  {{location.description}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="shiftForm.get('location').hasError('required')">Location required</mat-error>
            </mat-form-field>
          </div>

          <!-- Date input field -->
          <div class="col-4">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="date" required=true>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="shiftForm.get('date').hasError('required')">Date required</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <!-- Start time field -->
          <div class="col">
            <mat-form-field>
              <input type="number" matInput placeholder="Start Time" formControlName="start" required=true>
              <mat-error *ngIf="shiftForm.get('start').hasError('required')">Start time required</mat-error>
              <mat-error *ngIf="shiftForm.get('start').hasError('min')">Start time must be greater than 0</mat-error>
              <mat-error *ngIf="shiftForm.get('start').hasError('max')">Start time cannot exceed 2400</mat-error>
            </mat-form-field>
          </div>

          <!-- End time field -->
          <div class="col">
            <mat-form-field>
              <input type="number" matInput placeholder="End Time" formControlName="end" required=true>
              <mat-error *ngIf="shiftForm.get('end').hasError('required')">End time required</mat-error>
              <mat-error *ngIf="shiftForm.get('end').hasError('min')">End time must be greater than 0</mat-error>
              <mat-error *ngIf="shiftForm.get('end').hasError('max')">End time cannot exceed 2400</mat-error>
            </mat-form-field>
          </div>

          <!-- Break duration field -->
          <div class="col">
            <mat-form-field>
              <input type="number" matInput placeholder="Break Duration" formControlName="breakDuration">
              <mat-error *ngIf="shiftForm.get('breakDuration').hasError('min')">Break time must be greater than 0</mat-error>
              <mat-error *ngIf="shiftForm.get('breakDuration').hasError('max')">Break time cannot exceed 2400</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <!-- Note field -->
          <div class="col">
            <mat-form-field>
              <textarea matInput placeholder="Note" formControlName="note"></textarea>
              <mat-error *ngIf="shiftForm.get('note').hasError('maxlength')">Note cannot exceed 300 characters</mat-error>
            </mat-form-field>
          </div>

          <div class="col-2" class="verticallyCenterItems">
            <button mat-flat-button color="accent" id="createShiftButton" [disabled]="isLoading.creatingShift">Create Shift</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <!-- Roster Staff Card -->
  <mat-card id="rosterStaffCard">
    <mat-card-title>Roster Staff</mat-card-title>

    <mat-card-content *ngIf="isLoading.staff">
      <mat-spinner 
        style="margin: auto"
        mode="indeterminate"
        diameter=40
        color="accent">
      </mat-spinner>  
    </mat-card-content>

    <mat-card-content *ngIf="!isLoading.staff">
      <mat-form-field style="width: 100%">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let staff"> {{staff.firstName + ' ' + staff.lastName}} </td>
        </ng-container>

        <!-- Contact Column -->
        <ng-container matColumnDef="emailContact">
          <th mat-header-cell *matHeaderCellDef>Email Address</th>
          <td mat-cell *matCellDef="let staff"> {{staff.email}} </td>
        </ng-container>

        <!-- Contact Column -->
        <ng-container matColumnDef="phoneContact">
          <th mat-header-cell *matHeaderCellDef>Phone Number</th>
          <td mat-cell *matCellDef="let staff"> {{staff.phoneNum}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>