<mat-card id="securityCard">
  <mat-card-title>Update Password
    <mat-spinner
      mode="indeterminate"
      diameter=20
      color="accent"
      *ngIf="savingPassword"
      style="float: right">
    </mat-spinner>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()" id="confirmPasswordForm">
      <div class="row">
        <!-- Current password field -->
        <div class="col">
          <mat-form-field>
            <input matInput type="password" placeholder="Current password" formControlName="currentPassword">     
            <mat-error *ngIf="passwordForm.get('currentPassword').hasError('required')">Password required</mat-error>
            <mat-error *ngIf="passwordForm.get('currentPassword').hasError('authenticated')">Incorrect password</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <!-- New password field -->
        <div class="col">
          <mat-form-field>
            <input matInput type="password" placeholder="New password" formControlName="newPassword">
            <mat-error *ngIf="passwordForm.get('newPassword').hasError('required')">Password required</mat-error>
            <mat-error *ngIf="passwordForm.get('newPassword').hasError('minlength')">New password requires 6 characters minimum</mat-error>
          </mat-form-field>
        </div>

        <!-- Confirm password field -->
        <div class="col">
          <mat-form-field>
            <input matInput type="password" placeholder="Confirm password" formControlName="confirmPassword">
            <mat-error *ngIf="passwordForm.get('confirmPassword').hasError('required')">Password required</mat-error>
            <mat-error *ngIf="passwordForm.get('confirmPassword').hasError('minlength')">New password requires 6 characters minimum</mat-error>
            <mat-error *ngIf="passwordForm.get('confirmPassword').hasError('passwordMatch')">Passwords do not match</mat-error>
          </mat-form-field>
        </div>        
      </div>
      <div class="row">
        <div class="col">
          <button mat-flat-button id="saveButton" color="accent" [disabled]='savingPassword'>Save</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
