<div id="container">
  <div id="dashboardContainer">
    <div id="shiftCards" class="noselect">
      <div class="topRowCard boxShadow"><app-shift-dashboard-card cardType="pending"></app-shift-dashboard-card></div>
      <div class="topRowCard boxShadow"><app-shift-dashboard-card cardType="upcoming"></app-shift-dashboard-card></div>
      <div class="topRowCard boxShadow"><app-shift-dashboard-card cardType="total"></app-shift-dashboard-card></div>
    </div>
    <div id="messageBox" class="boxShadow">
      <div style="height: 100%"><app-message-board></app-message-board></div>
    </div>
  </div>
</div>
