<div id="container">
  <div id="dashboardContainer">
    <div id="shiftCards" class="noselect">
      <div class="topRowCard boxShadow"><app-shift-dashboard-card cardType="pending"></app-shift-dashboard-card></div>
      <div class="topRowCard boxShadow"><app-shift-dashboard-card cardType="upcoming"></app-shift-dashboard-card></div>
      <div class="topRowCard boxShadow"><app-shift-dashboard-card cardType="total"></app-shift-dashboard-card></div>
    </div>
    <div id="messageBox" class="boxShadow">
      <h5 style="text-align: center; padding-top: 7.5em">
          Message Board under development.
      </h5>
    </div>
  </div>
</div>
