/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

$mat-roster-system: (
    50: #6bcace,
   100: #6bcace,
   200: #6bcace,
   300: #6bcace,
   400: #6bcace,
   500: #6bcace,
   600: #6bcace,
   700: #6bcace,
   800: #6bcace,
   900: #6bcace,
  A100: #6bcace,
  A200: #6bcace,
  A400: #6bcace,
  A700: #6bcace,
  contrast: (
      50: $black-87-opacity,
     100: $black-87-opacity,
     200: $black-87-opacity,
     300: $black-87-opacity,
     400: $black-87-opacity,
     500: $black-87-opacity,
     600: $black-87-opacity,
     700: $black-87-opacity,
     800: $black-87-opacity,
     900: $black-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity)
);

$app-primary: mat-palette($mat-roster-system, 50);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);
$app-warn:    mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include mat-core();
@include angular-material-theme($app-theme);

@mixin md-icon-size($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
    line-height: $size;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
